<button type="button" id="modalMarca" data-bs-toggle="modal" data-bs-target="#modalMarca1" style="display: none;"></button>
<div class="modal fade" id="modalMarca1">
    <div class="modal-dialog sombra">
        <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">Marca</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
    
        <div class="modal-body">

            Edite los el nombre de la nueva marca

            <div class="row mb-3"><label class="col-form-label">Id</label>
                <div class="input-group col-sm-5">
                    <input type="text" class="form-control" disabled [(ngModel)]="marca.cod_marca" style="text-align: right;  font-size: 30px;">
                </div>
            </div>

            <div class="row mb-3"><label class="col-form-label">Marca</label>
                <div class="input-group col-sm-5">
                    <input type="text" class="form-control" [(ngModel)]="marca.marca" placeholder="Ingrese Marca" style="text-align: right;  font-size: 30px;">
                </div>
            </div>

        </div>
    
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success">Guardar</button>
        </div>
    
        </div>
    </div>
</div>